body{
    background:#f6e9e8;
}
h1{
   background-color: rgb(235, 38, 38);
}
.td{
    padding: 15px;
    padding-left: 150px;
    /*border: PowderBlue 1px solid;*/
}
.alto 
{
    padding-left: 750px;
}