body{
    background:#17202A;
}
h1{
   background-color:#212F3D;
   color: #f1f1f1;
   font-family: 'Bebas Neue', cursive;
}
h3{
    color: white;
    font-size: 25px;
}
.td{
    padding: 15px;
    padding-left: 150px; 
    /*border: PowderBlue 1px solid;*/
}
.alto{
    margin-left: 700px;
    font-size:20px;
    color:#e01a3b;
    font-family: 'Bebas Neue', cursive;
}
.tareas{
    
    color:white;
}
.agregados{
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 25px;
}
.zz{
    color: #f3f8fb;
    width:50px;
}
.listas1{
    font-size: 20px;

}